                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Coin 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/pkgs/bs-dashboard/js/scripts.js" asp-append-version="true"></script>
    <script src="/chart.js/dist/Chart.min.js"></script>
    <%- getScripts() %>
</body>
</html>
