<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coin</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/pkgs/bs-dashboard/css/styles.css">
    <link rel="stylesheet" href="/pkgs/bs-dashboard/css/born-blue.css">
    <%- getStyles() %>
</head>
<body class="sb-nav-fixed">
    <%- include("./dash-navbar.ejs") %>
    <div id="layoutSidenav">
        <%- include("./dash-sidebar.ejs") %>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                