    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <%- getScripts() %>
</body>
</html>