<!-- =============== SECTION BANNER =============== -->
<section class="padding-bottom">
    <article class="box d-flex flex-wrap align-items-center p-5 bg-secondary">
        <div class="text-white mr-auto">
            <h3>Looking for fashion? </h3>
            <p> Popular items, discounts and free shipping </p>
        </div>
        <div class="mt-3 mt-md-0"><a href="" class="btn btn-outline-light rounded-pill">Learn more</a></div>
    </article>
</section>
<!-- =============== SECTION BANNER .//END =============== -->