<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coin</title>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/pkgs/bootstrap-ecommerce/css/bootstrap.css?v=2.0">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/pkgs/bootstrap-ecommerce/css/responsive.css?v=2.0">
    <link rel="stylesheet" href="/pkgs/bootstrap-ecommerce/css/ui.css?v=2.0">
    <link rel="stylesheet" href="/css/green-thumbs.css">
    <style>
        .tracking-wrap {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px;
}
.tracking-wrap .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd;
}
.tracking-wrap .step {
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative;
}
.tracking-wrap .text {
    display: block;
    margin-top: 7px;
}
.tracking-wrap .step.active .icon {
    background: #3167eb;
    color: #fff;
}
.tracking-wrap .step.active:before {
    background: #3167eb;
}
.tracking-wrap .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px;
}
.btn-addon-rnd-pill {
    border-top-right-radius: 16px; 
    border-bottom-right-radius: 16px;
}
.input-addon-rnd-pill {
    border-top-left-radius: 16px; 
    border-bottom-left-radius:16px;
}
.dropdown-toggle:after { content: none }
    </style>
    <%- getStyles() %>
</head>
<body>
    <%- include("./navbar.ejs") %> 
    