<div class="icon-bar">
    <a href="#" class="bar-item">
        <i class="fas fa-shopping-bag"></i>
        <span class='badge badge-warning' id='lblCartCount'> 5 </span>
        <!-- <span class="badge badge-pill bg-light align-text-bottom text-dark">5</span> -->
    </a>

    <a href="#" class="bar-item"><i class="fas fa-user"></i></a>
    <a href="#" class="bar-item"><i class="fas fa-headset"></i></a>
    <!-- <a href="#" class="bar-item"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="bar-item"><i class="fa fa-youtube"></i></a>  -->
</div>