<header class="section-header fixed-top">
  <nav class="navbar navbar-light p-0 navbar-expand border-bottom">
    <div class="container-fluid px-3">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> USD </a>
            <ul class="dropdown-menu small">
              <li><a class="dropdown-item" href="#">EUR</a></li>
              <li><a class="dropdown-item" href="#">AED</a></li>
              <li><a class="dropdown-item" href="#">RUBL </a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
             <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Language </a>
              <ul class="dropdown-menu small">
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">Arabic</a></li>
              <li><a class="dropdown-item" href="#">Russian </a></li>
              </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item"><a href="#" class="nav-link">  <i class="fa fa-comment"></i> Customer care </a></li>
        </ul>
    </div> <!-- container //  -->
    </nav>
  <nav class="navbar navbar-main navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav3" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main_nav3">
         <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/shop/products" class="nav-link widget-header">
              <div class="icontext">
                <div class="icon icon-sm border rounded-circle">
                  <i class="fa  fa-store"></i>
                </div>
                <div class="text">
                  <div>Shop </div>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item dropdown search-dropdown">
            <a class="nav-link dropdown-toggle widget-header" href="#" data-toggle="dropdown">
              <div class="icontext"> 
                <div class="icon icon-sm border rounded-circle">
                  <i class="fa  fa-search text-muted"></i>
                </div>
                <div class="text">
                  <div>Search </div>
                </div>
              </div>
            </a>
            <div class="dropdown-menu search-dropdown-menu">
              <form class="px-4 py-3 search">
                <div class="input-group w-100">
                  <select class="custom-select input-addon-rnd-pill" name="category_name">
                      <option value="">All type</option><option value="codex">Special</option>
                      <option value="comments">Only best</option>
                      <option value="content">Latest</option>
                  </select>
                    <input type="text" class="form-control" style="width:60%;" placeholder="Search">
                    
                    <div class="input-group-append">
                      <button class="btn btn-primary btn-addon-rnd-pill" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
              </form>
            </div>
          </li>
        </ul>
        <a class="navbar-brand mx-auto" href="#"><img src="/images/logo.png" class="logo"></a>
        <ul class="navbar-nav d-flex justify-content-md-end widgets-wrap">
          <li class="nav-item">
            <a href="#" class="widget-header nav-link">
              <div class="icon icon-sm border rounded-circle"><i class="fa fa-shopping-cart"></i></div>
              <span class="badge badge-pill badge-danger notify">0</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="widget-header nav-link">
              <div class="icontext">
                <div class="icon icon-sm border rounded-circle">
                  <i class="fa  fa-user"></i>
                </div>
                <div class="text">
                  <small><a href="/users/login">Sign in</a> | <a href="/users/register">Join</a> </small>
                  <div>My account </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
        
      </div> <!-- navbar-collapse.// -->
    </div> <!-- container.// -->
  </nav>

</header>