<figure class="card card-product-grid card-lg">
    <a href="#" class="img-wrap"><img src="<%= product.images[0] %> "></a>
    <figcaption class="info-wrap">
            <p>
                <a href="#" class="title"><%= product.name %> </a>
            </p>
            <span class="tag">32 GB</span> <span class="tag">Brand new</span> 
            <span class="tag">256 px</span>
            <span class="tag">Water proof</span>
    </figcaption>
    <div class="bottom-wrap d-flex align-items-center">
        <div class="mr-3"> <span class="price h5">$<%= product.price %> </span> </div> <!-- price.// -->	
        <div class="ml-auto form-inline">
            <!-- <select class="form-control mr-2">
                <option>Size</option>
                <option>XL</option>
                <option>XS</option>
            </select> -->
            <select class="form-control mr-2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <a href="#" class="btn btn-mosque rounded-circle"><i class="fa fa-shopping-cart p-0"></i></a>
        </div>
    </div> <!-- bottom-wrap.// -->
</figure>