<div class="row">
    <aside class="col-md-3">
        <nav class="list-group">
            <a class="list-group-item active" href="/profile/<%= user.customer._id %>"> Account overview </a>
            <a class="list-group-item" href="/profile/<%= user.customer._id %>/addresses"> My Address </a>
            <a class="list-group-item" href="/profile/<%= user.customer._id %>/orders"> My Orders </a>
            <a class="list-group-item" href="page-profile-wishlist.html"> My wishlist </a>
            <a class="list-group-item" href="page-profile-seller.html"> My Selling Items </a>
            <a class="list-group-item" href="/profile/<%= user.customer._id %>/settings"> Settings </a>
            <a class="list-group-item" href="/users/logout"> Log out </a>
        </nav>
    </aside> <!-- col.// -->