<%- include("../partials/header.ejs") %>
<div class="container text-center" style="height: 70vh;">
    <P class="my-3 lead" style="padding-top: 100px;">You're order has been placed.</P>
</div>
<%- include("../partials/footer.ejs") %>
